<div id="calendar-container">

    <div id="events" class="container">




        <div class="container event">

            <div class="container event__section event__time">
                <div class="text time__start">7<sup>00</sup> <small>PM</small></div>
                <hr class="time__spacer" />
                <div class="text time__end">11<sup>00</sup> <small>PM</small></div>
            </div>

            <div class="container event__section event__date">
                <div class="container date__dot">
                    <div class="container date__text">
                        <div class="text date__month">AUG</div>
                        <div class="text date__day">28</div>
                    </div>
                </div>
            </div>

            <div class="container event__section event__info">
                <div class="text info__title">Brews of the Summer</div>
                <hr class="info__spacer" />
                <div class="text info__location">Schlafly Tap Room Patio</div>
            </div>

        </div>


        <div class="container event">

            <div class="container event__section event__time">
                <div class="text time__start">7<sup>00</sup> <small>PM</small></div>
                <hr class="time__spacer" />
                <div class="text time__end">11<sup>00</sup> <small>PM</small></div>
            </div>

            <div class="container event__section event__date">
                <div class="container date__dot">
                    <div class="container date__text">
                        <div class="text date__month">AUG</div>
                        <div class="text date__day">28</div>
                    </div>
                </div>
            </div>

            <div class="container event__section event__info">
                <div class="text info__title">Brews of the Summer</div>
                <hr class="info__spacer" />
                <div class="text info__location">Schlafly Tap Room Patio</div>
            </div>

        </div>

        <div class="container event">

            <div class="container event__section event__time">
                <div class="text time__start">7<sup>00</sup> <small>PM</small></div>
                <hr class="time__spacer" />
                <div class="text time__end">11<sup>00</sup> <small>PM</small></div>
            </div>

            <div class="container event__section event__date">
                <div class="container date__dot">
                    <div class="container date__text">
                        <div class="text date__month">AUG</div>
                        <div class="text date__day">28</div>
                    </div>
                </div>
            </div>

            <div class="container event__section event__info">
                <div class="text info__title">Brews of the Summer</div>
                <hr class="info__spacer" />
                <div class="text info__location">Schlafly Tap Room Patio</div>
            </div>

        </div>

        <div class="container event">

            <div class="container event__section event__time">
                <div class="text time__start">7<sup>00</sup> <small>PM</small></div>
                <hr class="time__spacer" />
                <div class="text time__end">11<sup>00</sup> <small>PM</small></div>
            </div>

            <div class="container event__section event__date">
                <div class="container date__dot">
                    <div class="container date__text">
                        <div class="text date__month">AUG</div>
                        <div class="text date__day">28</div>
                    </div>
                </div>
            </div>

            <div class="container event__section event__info">
                <div class="text info__title">Brews of the Summer</div>
                <hr class="info__spacer" />
                <div class="text info__location">Schlafly Tap Room Patio</div>
            </div>

        </div>





    </div>

</div>
