<div id="calendar-container">

    <div id="events" class="container">




        <div *ngFor="let event of eventsData" class="container event">


            <div class="container event__section event__time">
                <div class="text time__start">
                    {{ event.startTime | date:'h' }}
                    <sup>{{ event.startTime | date:'mm' }}</sup>
                    <small>{{ event.startTime | date:'a' }}</small>
                </div>
                <hr class="time__spacer" />
                <div class="text time__end">
                    {{ event.endTime | date:'h' }}
                    <sup>{{ event.endTime | date:'mm' }}</sup>
                    <small>{{ event.endTime | date:'a' }}</small>
                </div>
            </div>

            <div class="container event__section event__date">
                <div class="container date__dot">
                    <div class="container date__text">
                        <div class="text date__month">{{ event.startTime | date:'MMM' }}</div>
                        <div class="text date__day">{{ event.startTime | date:'dd' }}</div>
                    </div>
                </div>
            </div>


            <div class="container event__section event__info">
                <div class="text info__title">{{ event.title }}</div>
                <hr class="info__spacer" />
                <div class="text info__location">{{ event.locationText }}</div>
            </div>

        </div>



<!--
        <div class="container event">

            <div class="container event__section event__time">
                <div class="text time__start">7<sup>00</sup> <small>PM</small></div>
                <hr class="time__spacer" />
                <div class="text time__end">11<sup>00</sup> <small>PM</small></div>
            </div>

            <div class="container event__section event__date">
                <div class="container date__dot">
                    <div class="container date__text">
                        <div class="text date__month">AUG</div>
                        <div class="text date__day">28</div>
                    </div>
                </div>
            </div>

            <div class="container event__section event__info">
                <div class="text info__title">Brews of the Summer</div>
                <hr class="info__spacer" />
                <div class="text info__location">Schlafly Tap Room Patio</div>
            </div>

        </div>

        <div class="container event">

            <div class="container event__section event__time">
                <div class="text time__start">ALL</div>
                <hr class="time__spacer" />
                <div class="text time__end">DAY</div>
            </div>

            <div class="container event__section event__date">
                <div class="container date__dot">
                    <div class="container date__text">
                        <div class="text date__month">AUG</div>
                        <div class="text date__day">28</div>
                    </div>
                </div>
            </div>

            <div class="container event__section event__info">
                <div class="text info__title">Brews of the Summer</div>
                <hr class="info__spacer" />
                <div class="text info__location">Schlafly Tap Room Patio</div>
            </div>

        </div>

        <div class="container event">

            <div class="container event__section event__time">
                <div class="text time__start">7<sup>00</sup> <small>PM</small></div>
                <hr class="time__spacer" />
                <div class="text time__end">11<sup>00</sup> <small>PM</small></div>
            </div>

            <div class="container event__section event__date">
                <div class="container date__dot">
                    <div class="container date__text">
                        <div class="text date__month">AUG</div>
                        <div class="text date__day">28</div>
                    </div>
                </div>
            </div>

            <div class="container event__section event__info">
                <div class="text info__title">Brews of the Summer</div>
                <hr class="info__spacer" />
                <div class="text info__location">Schlafly Tap Room Patio</div>
            </div>

        </div>

-->





    </div>

</div>
