<div id="calendar-container">

    <div id="events" class="container">

        <div *ngFor="let event of eventsData">
            <div class="container event"
                (click)="event.descriptionIsOpen = !event.descriptionIsOpen">
                <div class="container event__section event__time">
                    <div class="text time__start">
                        {{ event.startTime | date:'h' }}
                        <sup>{{ event.startTime | date:'mm' }}</sup>
                        <small>{{ event.startTime | date:'a' }}</small>
                    </div>
                    <hr class="time__spacer" />
                    <div class="text time__end">
                        {{ event.endTime | date:'h' }}
                        <sup>{{ event.endTime | date:'mm' }}</sup>
                        <small>{{ event.endTime | date:'a' }}</small>
                    </div>
                </div>

                <div class="container event__section event__date">
                    <div class="container date__dot">
                        <div class="container date__text">
                            <div class="text date__month">{{ event.startTime | date:'MMM' }}</div>
                            <div class="text date__day">{{ event.startTime | date:'dd' }}</div>
                        </div>
                    </div>
                </div>

                <div class="container event__section event__info">
                    <div class="text info__title">{{ event.title }}</div>
                    <hr class="info__spacer" />
                    <div class="text info__location">{{ event.locationText }}</div>
                </div>

                <div [class.description--open]="event.descriptionIsOpen"
                    class="container event__description">
                    <div class="text">{{ event.descriptionText }}</div>
                </div>

            </div>
        </div>




    </div>
</div>
